:host {
    ::ng-deep {
        .ant-result-title {
            font-style: italic;
        }

        .ant-result-subtitle {
            font-style: italic;
        }

        .ant-btn {
            font-style: italic;
        }
    }
}
