.details_container {
  padding: 56px 16px 0;

  .word_title {
    text-align: center;
    font-style: italic;
    font-size: 2.8em;
  }

  .word_details {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .explains_container {
    text-align: center;
    font-size: 1.2em;
  }

  .examples_container {
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
    margin-top: 20px;

    .examples_item {
      margin: 6px 0;
      position: relative;
      padding: 5px 20px;

      .delete_example {
        position: absolute;
        right: 0;
        top: 5px;
        cursor: pointer;
        color: rgb(122, 117, 117);
      }
    }
  }

  .add_new_examples {
    width: 100%;
    text-align: center;
    margin: 20px 0;

    .example-full-width {
      width: 100%;
      margin: 12px 0;

      textarea {
        font-style: italic;
      }
    }
  }
}
