.__spelling_card_container {
    .similar_words {
        margin: 5px 0;
    }

    .word_bar {
        margin: 35px 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .horn {
            margin-left: 5px;
        }
    }

    .explanations {
        padding: 12px 0 20px;
        font-size: 16px;
    }

    .examples_container {
        padding: 20px 0 0 0;
        border-top: 1px solid #e0e0e0;
        font-size: 16px;
        font-style: italic;
    }

    .single_letter {
        font-size: 70px;
        font-weight: 400;
        font-style: italic;
        font-family: 'Andale Mono';
        margin: 5px 3px;
        user-select: none;
        color: #ddd;
    }

    .correct {
        color: rgb(86, 171, 94)
    }
}
