.horn_button {
    position: relative;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -12px;
        margin-left: -8px;
    }
}

:host {
    ::ng-deep {
        .ant-btn-circle {
            border: none;
        }

        .ant-btn:focus {
            color: initial;
        }
    }
}
